/* ======================
==    Home page CSS start
========================*/

.hero_section {
    position: relative;
    z-index: 1;
    padding: 100px 0;
}

.hero_img {
    position: absolute;
    right: 0;
    top: -80px;
    z-index: -1;
}

.hero_content h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero_content p {
    font-size: 22px;
/*     max-width: 450px; */
    margin-bottom: 40px;
}

.hero_content .site_cta {
    padding: 20px 50px !important;
}

.why_us_section {
    position: relative;
    z-index: 1;
    padding: 300px 0 0;
    top: -200px;
}

.why_us_section .row {
	margin: 0 auto;
}

.why_us_section img.why_us_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1100px;
    z-index: -1;
}

.counter_wrapper {
    max-width: 780px;
    margin: 0 auto;
    padding: 50px 100px;
    position: relative;
    z-index: 1;
}

.counter_wrapper::after,
.counter_wrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    transform: skew(-10deg);
    border-radius: 15px;
}

.counter_wrapper::before {
    background: rgba(174, 186, 209, 0.3);
    top: 20px;
    left: 20px;
}

.counter_box {
    text-align: center;
}

.counter_box h2 {
    font-size: 20px;
    line-height: 1;
    margin: 0;
}

.counter_box .counter_icon {
    min-height: 45px;
    margin-bottom: 10px;
}

.counter_section {
    padding-top: 50px;
    position: relative;
    z-index: 9;
}

.section_title {
    text-align: center;
    color: #042825;
    font-size: 36px;
    line-height: 1.4;
    margin-bottom: 50px;
}
.why_us_img {
    background: #DFDEF6;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.why_us_wrapper .why_us_title {
    color: #0A2540;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
}

.why_us_wrapper .why_us_title::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -o-linear-gradient(359.68deg, rgba(99, 91, 255, 0.06) 1.44%, rgba(99, 91, 255, 0) 64.31%);
    background: linear-gradient(90.32deg, rgba(99, 91, 255, 0.06) 1.44%, rgba(99, 91, 255, 0) 64.31%);
}

.why_us_wrapper {
    margin: 30px 0;
}

.why_us_section .section_title {
    margin-bottom: 20px;
}

.plugin_section .section_title {
    margin-bottom: 15px;
}
.plugin_section .section_subtitle {
    font-weight: 500;
    font-size: 22px;
}

.plugin_section p {
    text-align: center;
    margin-bottom: 30px;
}
.plugin_wrapper {
    max-width: 870px;
    margin: 0 auto;
}

.plugin_section {
    padding-bottom: 100px;
}
.package_icon {
    margin-right: 24px;
}

.author_img img {
    width: 80px !important;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    border: 5px solid #3C5185;
    border-radius: 50%;
    margin: 0 auto 25px;
}

.testimonial_slides {
    text-align: center;
    padding: 0 200px;
}
.testimonial_slides .quote_img {
    max-width: 15px;
    display: inline-block !important;
    position: relative;
    top: -10px;
}

.author_ratings ul {
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
}

.author_ratings ul li {
    display: inline-block;
}

.author_ratings ul li i.fa {
    color: #FFD04B;
    font-size: 22px;
    line-height: 1;
    margin: 0 1px;
}

.testimonial_slides p {
    font-size: 22px;
    margin-bottom: 15px;
	font-weight: 600;  
}

.author_name {
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 3px;
}

.author_desig {
    color: #ACA9B8;
    font-weight: 400;
}

.testimonial_carousel .owl-dots button {
    width: 12px;
    height: 12px;
    border: 1px solid #2D3748;
    border-radius: 50%;
    margin: 2px;
    outline: none !important;
}

.testimonial_carousel .owl-dots button.active {
    background: #2D3748;
}

.testimonial_carousel .owl-dots {
    text-align: center;
}
.testimonial_carousel .starts-outer {
    position: relative;
    display: inline-block;
	font-size: 20px;
}

.testimonial_carousel .starts-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.testimonial_carousel .starts-outer::before {
    content: "\f005  \f005  \f005  \f005  \f005";
    font-family: FontAwesome;
    font-weight: 900;
    color: #ccc;

}

.testimonial_carousel .starts-inner::before {
    content: "\f005  \f005  \f005  \f005  \f005";
    font-family: FontAwesome;
    font-weight: 900;
    color: #f8ce0b;
}

.clients_section {
    padding: 100px 0;
}

.client_logo_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.clients_logo img {
	width: 148px;
	height: 48px;
	object-fit: contain;
}

.faq_section {
    padding: 100px 0 100px;
/*     background: url(../img/faq_bg.png);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat; */
	position: relative;
    z-index: 1;
}
.faq_section img.faq_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1274px;
    z-index: -1;
}
.faq_accordion_wrapper {
    max-width: 848px;
    margin: 0 auto;
}

.faq_icon {
    text-align: center;
    margin: 0 0 25px;
}
.faq_content_wrapper .section_title {
    margin-bottom: 64px;
}
.faq_accordion_header h4 {
    font-size: 24px;
    margin: 0;
}

.faq_accordion_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.faq_accordion {
    padding-bottom: 30px;
    border-bottom: 0.8px solid #cccccc;
    margin-bottom: 30px;
}

.faq_accordion_content {
    margin-top: 20px;
}

.faq_accordion_header .acc_arrow {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.faq_accordion_header.collapsed .acc_arrow {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
/* .faq_accordion_header .acc_arrow .minus_icon {
    display: none;
}

.faq_accordion_header.collapsed .acc_arrow .minus_icon {
    display: block;
}

.faq_accordion_header.collapsed .acc_arrow .plus_icon {
    display: none;
} */
.faq_accordion_header .acc_arrow .plus_icon {
    display: none;
}
.faq_accordion_header .acc_arrow .minus_icon {
    display: block;
}
.faq_accordion_header.collapsed .acc_arrow .plus_icon {
    display: block;
}

.faq_accordion_header.collapsed .acc_arrow .minus_icon {
    display: none;
}

.blog_section {
/*     padding: 0 0 100px; */
	background-color: #EFEFEF;
	padding: 70px 0;
}

.blog_posts {
    background: #ffffff;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,.04), 1px 1px 6px 0 rgba(0,0,0,.04), 0 10px 20px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.04), 1px 1px 6px 0 rgba(0,0,0,.04), 0 10px 20px 0 rgba(0,0,0,.2);
    border-radius: 10px;
	overflow: hidden;
}

.post_content {
    padding: 30px 15px;
}

.post_cat {
    display: inline-block;
    color: #374C82;
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 10px;
}

.post_title a {
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
    color: #2D3748;
}

.post_title a:hover,
.post_title a:focus {
    color: #3A5392;
}

.post_title {
    margin: 0;
    line-height: 1;
    font-size: inherit;
}

.guarantee_wrapper {
    background: url(../img/money_back_bg.svg);
    padding: 40px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 45px;
}

.moneyback_list {
    width: 30%;
	margin-right: 4%;
}

.moneyback_content {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.award_img {
    width: 18%;
}

.award_content {
    width: 80%;
}

.award_content h2 {
    color: #ffffff;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.award_content p {
    color: #ffffff;
    margin: 0;
}

.award_content p a {
    color: #80E9FF;
}
.award_content p a i {
    vertical-align: middle;
}
.moneyback_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.moneyback_list ul li {
    position: relative;
    padding-left: 28px;
    margin: 15px 0;
}

.moneyback_list ul li img {
    position: absolute;
    left: 0;
    top: 2px;
}

.moneyback_list ul li p {
    color: #ffffff;
    font-size: 14px;
    margin: 0 !important;
}

.guarantee_section {
    margin-bottom: 100px;
	margin-top: 100px;
}
.plugin_icon {
    width: 149px;
}