@media(max-width:1199px) {
	.product_main_tab_wrapper ul.nav-tabs li a {
		font-size: 16px;
		padding: 20px;
	}

	.tab_table_content table tr th:first-child {
		width: 38%;
	}

	.hero_img {
		width: 100%;
		height: 100%;
		text-align: right;
	}

	.hero_img::after {
		content: "";
		width: 100%;
		height: 100%;
		/* 		background: rgba(255, 255, 255, 0.9); */
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.hero_content p {
		margin: 0 auto 40px;
	}
	.product_subscription_tab_wrapper {
		margin-right: 20px;
	}
	.hero_content {
		max-width: unset;
	}
	.product_subscription_tab_wrapper form {
		padding: 30px 10px;
	}
	.product_subscription_tab_wrapper form .input_grp.btn_grp {
		width: auto;
		right: 17px;
	}

	.product_subscription_tab_wrapper form .input_grp.btn_grp a {
		padding: 15px 25px !important;
	}
	.hero_content h1 {
		font-size: 35px;
	}

	.hero_content p {
		font-size: 18px;
		margin-bottom: 20px;
	}


}

/* ======================
==    End of media 1199px
========================*/


@media(max-width:991px) {
	.header_top-content ul li {
		margin: 0 15px;
	}

	.header_top-content ul li p {
		margin: 0 0 0 5px;
	}

	.main_header .navbar-toggler {
		/* 		background: #06102B; */
		border-radius: 2px;
		padding: 5px 10px;
		outline: none !important;
		margin-left: 25px;
	}

	.main_header .navbar-toggler .icon-bar {
		width: 25px;
		height: 3px;
		background: #06102B;
		display: block;
		margin: 5px 0;
	}

	.mobile_navbar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.menu_icons {
		display: none;
	}

	.mobile_navbar .menu_icons {
		display: block;
	}

	.header_menu {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		padding-top: 25px;
	}

	.header_menu li.site_cta {
		margin: 25px 0 0;
	}

	.section_padding {
		padding: 40px 0;
	}

	.product_content {
		margin-bottom: 40px;
	}

	.product_main_tab_wrapper ul.nav-tabs li a {
		font-size: 14px;
		padding: 15px 12px;
	}

	.step_card_wrapper {
		margin-bottom: 20px;
	}

	.single_user_review .user_review {
		width: 85%;
	}

	.changelog_timeline_wrapper {
		padding-left: 200px;
	}

	.changelog_timeline_wrapper::before {
		left: 90px;
	}

	.plugin_info {
		display: block;
	}

	.plugin_info .plugin_img {
		margin: 0 0 15px 0;
	}

	.table_action ul li a {
		margin: 0 0 5px 0;
	}

	.why_us_section img.why_us_bg {
		height: 1250px;
	}

	.tab_table_content.checkout_table table tr th:first-child {
		width: 60%;
	}

	.renew_license_card {
		text-align: center;
	}

	.renew_license_card form {
		max-width: unset;
	}

	.renew_license_card .btn_set {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.purchase_card {
		text-align: center;
	}

	.plugins_wrapper .plugin_box {
		padding: 30px 15px;
	}

	.testimonial_slides {
		padding: 0;
	}

	.post_title a {
		font-size: 18px;
	}

	.post_content {
		padding: 15px;
	}

	.moneyback_content {
		display: block;
		width: 60%;
	}

	.award_content,
	.award_img {
		width: 100%;
	}

	.award_img {
		margin-bottom: 25px;
	}

	.moneyback_list {
		width: 35%;
	}
	.Product_content_image {
		position: relative;

	}
	.blog_sidebar_wrapper {
		margin-top: 50px;
	}

	.plugin_widget_img {
		width: 15%;
	}

	.plugin_widget_content {
		width: 80%;
	}

	.recent_post_card {
		width: 100%;
	}
	.product_subscription_tab_wrapper {
		margin-bottom: 50px;
	}

	.product_subscription_tab_wrapper form .input_grp.btn_grp {
		right: 100px;
	}
	.abcd_footer-content {
		margin: 20px 0;
	}
	.checkout-comments .user_img {
    	text-align: center;
    	margin-bottom: 15px;
	}

	.checkout-comments .comment-author {
    	text-align: center;
	}












}

/* ======================
==    End of media 991px
========================*/


@media(max-width:767px) {
	.header_top-content ul {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.header_top-content ul li {
		width: 100%;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.search_bar {
		right: -45px;
	}

	.footer_widget_col {
		padding: 15px 0;
	}

	.footer_section {
		padding: 30px 0;
	}

	main section:first-child {
		margin-top: 197px;
	}

	h1.heading_title {
		font-size: 30px;
	}

	.product_ratings {
		display: block;
	}

	.product_ratings ul {
		padding: 0;
	}

	.product_ratings ul li:last-child {
		margin-left: 10px;
	}

	.product_subscription_tab_wrapper {
		margin: 60px 0 0 0;
	}

	.product_subscription_tab_wrapper .offer_icon {
		right: -3px;
		top: -60px;
	}

	.product_subscription_tab_wrapper form {
		padding: 30px 15px;
	}

	.product_subscription_tab_wrapper form .input_grp {
		width: 100%;
		padding: 15px;
	}

	.product_subscription_tab_wrapper form .input_grp.btn_grp button {
		margin: 0 auto;
	}

	.product_subscription_tab_wrapper form .input_grp.btn_grp {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.product_subscription_tab_wrapper form .input_grp label br {
		display: none;
	}

	.Product_content_image img {
		height: auto;
		-o-object-fit: unset;
		object-fit: unset;
		-o-object-position: unset;
		object-position: unset;
	}

	.product_main_tab_wrapper ul.nav-tabs {
		border-radius: 23px;
	}

	.product_main_tab_wrapper ul.nav-tabs li {
		width: 100%;
	}

	.product_main_tab_wrapper ul.nav-tabs li a {
		font-size: 16px;
		padding: 17px 25px;
	}

	.product_tab_inner_content_wrapper .row.alter {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.step_card_wrapper .single_card_element {
		border-radius: 12px;
	}

	.step_card_wrapper .single_card_element span {
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 24px;
	}

	.step_card_wrapper .single_card_element p {
		width: calc(100% - 88px);
	}

	.single_user_review {
		display: block;
	}

	.single_user_review .user_img {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.single_user_review .user_review {
		width: auto;
		text-align: center;
	}

	.single_user_review p {
		font-size: 18px;
	}
	.review_links {
		display: block;
		text-align: center;
	}
	.review_form .submit_wrapper{
		text-align: center;
		margin-top: 10px;
	}
	.edd_purchase_submit_wrapper {
		text-align: center;
		margin-top: 15px;
	}

	.product_main_tab_wrapper .documentation_main_tab_wrapper ul.nav-tabs li:first-child a {
		margin-bottom: 70px;
	}

	.video_tut_wrapper iframe {
		height: 190px;
	}

	.changelog_timeline_wrapper {
		padding-left: 80px;
	}

	.changelog_timeline_box .version_no {
		left: -80px;
		width: 60px;
		height: 60px;
		line-height: 60px;
	}

	.changelog_timeline_wrapper::before {
		left: 30px;
	}

	.changelog_timeline_loadmore {
		text-align: unset;
	}

	.demo_content_box ul li p {
		width: 80%;
	}

	.login_form {
		padding: 40px 20px;
	}

	.login_wrapper {
		margin: 50px 0;
		max-width: unset;
		width: 100%;
	}

	.profile_content_wrapper .nav-link {
		padding: 15px;
		font-size: 16px;
	}

	.profile_tab_content {
		padding: 30px 15px;
	}

	.hero_content h1 {
		font-size: 35px;
		margin-bottom: 10px;
	}

	.hero_content h1 br {
		display: none;
	}

	.hero_content p {
		max-width: unset;
		font-size: 18px;
		margin-bottom: 20px;
	}

	.hero_section {
		padding: 70px 0;
	}

	.hero_img {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}


	.counter_wrapper::after,
	.counter_wrapper::before {
		-webkit-transform: skew(0);
		-ms-transform: skew(0);
		transform: skew(0);
	}

	.counter_box {
		margin-bottom: 30px;
	}

	.why_us_section img.why_us_bg {
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.why_us_wrapper {
		text-align: center;
		margin: 15px 0;
	}

	.why_us_img {
		margin: 0 auto 25px;
	}

	.why_us_section {
		top: -50px;
		padding-top: 150px;
	}

	.plugin_box {
		margin: 0 0 25px;
	}

	.plugin_section {
		padding-bottom: 50px;
	}

	.cart_added_card {
		display: block;
		text-align: center;
	}

	.cart_added_card p {
		display: block;
		margin-bottom: 20px;
		line-height: 1.3;
	}

	.cart_added_card p img {
		display: block;
		margin: 0 auto 10px;
	}

	.renew_license_card {
		padding: 30px 15px;
	}

	.renew_license_card .btn_set {
		display: block;
	}

	.renew_license_card .btn_set a.white_cta {
		margin: 0 0 15px 0;
	}

	.testimonial_slides p {
		font-size: 18px;
		line-height: 1.4;
	}

	.client_logo_wrapper {
		display: block;
		text-align: center;
	}

	.clients_logo {
		margin: 15px 0;
	}

	.clients_section {
		padding: 40px 0 0;
	}

	.faq_section {
		padding: 130px 0 40px;
	}

	.faq_accordion_header h4 {
		font-size: 22px;
		line-height: 1.2;
		margin-right: 20px !important;
	}

	.faq_accordion_content {
		margin-top: 10px;
	}

	.faq_accordion_content p {
		margin: 0;
	}

	.faq_accordion {
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.blog_posts {
		margin: 15px 0;
	}
	.guarantee_wrapper {
		display: block;
		padding: 30px 15px;
		margin: 0;
	}
	.moneyback_list,
	.moneyback_content {
		width: 100%;
	}
	.moneyback_content {
		text-align: center;
		margin-bottom: 25px;
	}
	.guarantee_section {
		margin-bottom: 50px;
	}
	.product_subscription_tab_wrapper form .edd_purchase_submit_wrapper {
		position: static;
		padding-left: 0;
	}
	.abcd_footer-content {
		margin: 30px 0;
	}
	.table {
		min-width: 600px;
	}
	.plugin_widget_img {
		width: 20%;
	}
	.plugin_widget_content {
		width: 75%;
	}
	form.subscribe_form {
		margin: 0;
	}
	.form_author_wrapper {
		display: block;
	}

	.form_author_wrapper p {
		width: 100%;
	}
	.product_main_tab_wrapper.shrink-tab-content ul.nav-tabs {
		position: static;
	}
	.counter_section .container,.hero_section .container {
		max-width: 720px;
	}
	.counter_wrapper .row .col-md-4 {
		max-width: 33.333333%;
	}
	.hero_section .row .col-md-6 {
		max-width: 50%;
	}
	form.subscribe_form label {
		display: block;
	}
	.plugins_wrapper {
		width: auto;
	}
	.live_demo_content {
		padding-top: 0;
	}
	.demo_content_box ul {
		margin-bottom: 0;
	}
	.checkout-comments .user_img {
    	text-align: center;
    	margin-bottom: 15px;
	}

	.checkout-comments .comment-author {
    	text-align: center;
	}

}



@media(max-width:576px) {
	.header_logo {
		width: 162px;
	}
	.counter_section .container,.hero_section .container {
		max-width: 540px;
	}
	.counter_wrapper {
		max-width: 300px;
		padding: 50px 15px;
	}
	.counter_wrapper .row .col-md-4,.hero_section .row .col-md-6 {
		max-width: 100%;
		width: 100%;
	}
	.hero_img {
		position: relative;
		top: 0;
	}
	.hero_content{
		text-align: center;
	}

}


/* ======================
==    End of media 767px
========================*/


@media(max-width:360px) {
	.header_logo {
		width: 135px;
	}
	.main_header .navbar-toggler {
		margin-left: 10px;
	}
}

/* ======================
==    End of media 360px
========================*/