.reply_title_wrapper {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    width: 100%;
    height: 0.1px;
    background: #ACA9B8;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    z-index: -1;
  }
}

.reply_title {
  display: inline-block;
  background: #FCFCFC;
  padding: 0 25px;
  h3 {
    color: #042825;
    font-size: 24px;
  }
}
.comment-form  {
  margin-bottom: 40px;
  p {
    margin: 0 0 20px;
  }
  label {
    width: 100%;
    font-size: 16px;
    display: inline;
  }
  input, textarea {
    width: 100% !important;
    border: 1px solid #2B2B2B !important;
    border-radius: 5px !important;
    padding: 13px !important;
    font-size: 16px !important;
    line-height: 1.3 !important;
    outline: none !important;
    box-shadow: unset !important;
    transition: all 0.3s linear;
  }
  input[type="checkbox"] {
    width: auto !important;
  }
}
.comment-notes {
  font-size: 16px;
  text-align: center;
}

.form_author_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
   p{
     width: 49%;
   }
}

.comment-form .form-submit .submit, .comment-reply-link {
  background-color: #6d56c1;
  height: 50px;
  font-size: 16px !important;
  line-height: 20px !important;
  text-transform: uppercase;
  padding: 16px 35px !important;
  min-width: 170px;
  text-align: center;
  display: inline-block;
  color: #fff!important;
  font-weight: 600;
  overflow: hidden;
  border: none !important;
  width: auto !important;
  border-radius: 500px !important;
  cursor: pointer;
}